.footer{


    background-color:#003d4c ;
    margin-top:200px;
    color: white;
    

}
.black{
    background-color: black;
    color: white;
    height: 80px;
}
.faa{
    height: 230px;
}
.paa{
float: left;
}
